//ANIMATE
.relative,
.animate { position: relative;  }

//*****************************************************************************
// POSITION *******************************************************************
//*****************************************************************************
.animate--from-left {
    transform: translate(-10px, 0);
}
.animate--from-right {
    transform: translate(10px, 0);
}
.animate--from-bottom {
    transform: translate(0, 5px);
}
.animate--from-top {
    transform: translate(0, -5px);
}
.animate--from-top,
.animate--from-bottom,
.animate--from-left,
.animate--from-right {
    transition: 300ms all ease-out 250ms;
    opacity: 0;
    &.animate--reveal {
        opacity: 1;
        transform: translate(0, 0);
    }
}

//*****************************************************************************
// OPACITY ********************************************************************
//*****************************************************************************
.animate--opacity {
    opacity: 0;
    transition: 600ms opacity ease-out 250ms !important;
    &.animate--reveal { opacity: 1;}
    &.fast {
        transition-duration: 100ms !important;
    }
}
.animate--hide { opacity: 0; transition: 200ms all ease-in 0; }

//*****************************************************************************
// SCALE **********************************************************************
//*****************************************************************************
.animate--scale {
    opacity: 0;
    transform-origin: center center;
    transform: scale3d(.97, .97, 1);
    transition: 100ms opacity ease-out 50ms, 400ms transform ease-out 250ms;
    &.animate--reveal {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
.animate--scale-x {
    opacity: 0;
    transform-origin: center center;
    transform: scale3d(0, 1, 1);
    transition: 100ms opacity ease-out 50ms, 400ms transform ease-out 250ms;
    &.animate--reveal {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
.animate--scale-y {
    opacity: 0;
    transform-origin: bottom center;
    transform: scale3d(1, 0, 1);
    transition: 100ms opacity ease-out 50ms, 400ms transform ease-out 250ms;
    &.animate--reveal {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
.animate--hide { opacity: 0; transition: 200ms all ease-in 0; }


//*****************************************************************************
// SLIDE **********************************************************************
//*****************************************************************************

.animate--slide-top,
.animate--slide-bottom,
.animate--slide-left,
.animate--slide-right {
//    border: 1px solid rgba(0,0,0,.3);
    overflow: hidden;
    display: inline-block !important;
    width: auto !important;
    span {
        display: block;
        opacity: 0;
        //transition: 400ms opacity ease-out 100ms, 1000ms transform cubic-bezier(0.68, -0.55, 0.265, 1.15) 1500ms;
        &:nth-child(1) { transition: 400ms opacity ease-out 0ms, 1000ms transform ease-out 0ms !important;}
        &:nth-child(2) { transition: 400ms opacity ease-out 250ms, 750ms transform ease-out 250ms !important;}
        &:nth-child(3) { transition: 400ms opacity ease-out 500ms, 500ms transform ease-out 500ms !important;}
    }
    &.animate--reveal span {
        opacity: 1;
        transform: translate(0,0);
    }
    &.fast span {
        transition-duration: 250ms !important;
    }
}
//fix overflow on h1, h2
    h1.animate--slide-top span,
    h1.animate--slide-bottom span,
    h1.animate--slide-left span,
    h1.animate--slide-right span,
    h2.animate--slide-top span,
    h2.animate--slide-bottom span,
    h2.animate--slide-left span,
    h2.animate--slide-right span{
        padding-bottom: 5px;
    }

.animate--slide-top span {
    transform: translateY(40%);
    &.full { transform: translateY(100%); }
}
.animate--slide-bottom span {
    transform: translateY(-40%);
    &.full { transform: translateY(-100%); }
}
.animate--slide-left span {
    transform: translateX(25%);
    &.full { transform: translateX(100%); }
}
.animate--slide-right span {
    transform: translateX(-25%);
    &.full { transform: translateX(-100%); }
}


//*****************************************************************************
// SPEED **********************************************************************
//*****************************************************************************
@for $i from 1 through 40 {
    $a : $i*50;
    .animate--speed-#{$a} {
        transition-duration: #{$a}ms !important;
        span { transition-duration: #{$a}ms !important; }
    }
}

//*****************************************************************************
// DELAY **********************************************************************
//*****************************************************************************
@for $i from 1 through 100 {
    $a : $i*50;
    .animate--delay-#{$a} {
        transition-delay: #{$a}ms !important;
        span { transition-delay: #{$a}ms !important; }
    }
}
