@mixin gradient-orange ($deg:90deg) {
    background: linear-gradient($deg, $primary 0%, $secondary 100%);
}

@mixin box-shadow ($alpha:.2) {
    box-shadow: rgba(0,0,0,$alpha) 0 0 20px;
    transition: 333ms box-shadow ease-in;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@mixin center($xy:xy) {
  position: absolute;
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform : translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform : translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform : translateY(-50%);
  }
}

@mixin size-ico ($x, $y) {

    background-position: $x $y;

    &.ico--small { //72/3 = 24px
       background-position: $x/3 $y/3;
    }
    &.ico--medium { //72/2 = 36px
       background-position: $x/2 $y/2;
    }
    &.ico--large { //72/2 = 48px
       background-position: $x*2 $y*2;
    }

//    &:not(.ico--small),
//    &:not(.ico--medium) {
//        @media screen and (max-width:720) {
//            width: 36px !important; height: 36px !important;
//            background-position: $x/2 $y/2 !important; background-size:500px 500px;
//        }
//    }


}
