<section class="container fluid bg-white" id="defiscalise">
	
	<div class="box narrow">
		<h2 class="text-center">RÉDUISEZ VOS IMPÔTS<br>AUGMENTEZ NOTRE PUISSANCE<br>D’INNOVATION FACE AU CANCER !</h2>
		<br>
		<div class="box-cols">
			<div class="col text-center">
				<h3 class="primary">Impôt sur la fortune<br>immobilière</h3>
				<p class="semi">75% de mon don sont déductibles de l’impôt sur la fortune immobilière dans la limite de 66&nbsp;667&nbsp;€.</p>
				<a href="#" class="button solid primary button-popin" popin-name="calculette" calcul-context="ifi">JE CALCULE<br>MA DÉDUCTION IFI</a>
			</div>
			<div class="col text-center">
				<h3 class="secondary">Impôt sur<br>le revenu</h3>
				<p class="semi">66% de mon don sont déductibles de l’impôt sur le revenu dans la limite de 20% de mes revenus..</p>
				<a href="#" class="button solid secondary button-popin" popin-name="calculette" calcul-context="ir" >JE CALCULE<br>MA DÉDUCTION IR</a>
			</div>
		</div>
	</div>
</section>

<section style="background-image: url(images/bg-block-don.jpg);background-position: center;">
	<div class="box contrain">
		<div class="box-cols">
			<div class="col">
				<img src="images/don-1500.png" alt="je donne 1500€" />
			</div>
			<div class="col">
				<img src="images/don-200.png" alt="je donne 200€" />
			</div>
		</div>
	</div>
</section>
