<section class="container fluid hero animate animate--opacity">

	<div class="searchers">
		<figure class="animate animate--opacity animate--delay-100"><img src="images/chercheurs_en_action-1.jpg" alt="" /></figure>
		<figure class="animate animate--opacity animate--delay-300"><img src="images/chercheurs_en_action-2.jpg" alt=""/></figure>
		<figure class="animate animate--opacity animate--delay-500"><img src="images/chercheurs_en_action-3.jpg" alt=""/></figure>
	</div>
	
	<div class="container animate animate--from-bottom animate--delay-900">
		<h1 class="white">
			<span class="animate animate--from-bottom animate--delay-1300">L'INNOVATION :</span><br />
			<span class="animate animate--from-bottom animate--delay-1800">NOTRE PUISSANCE FACE AU CANCER</span>
		</h1>
		
		<p class="bold bigger white animate animate--from-bottom animate--delay-1800">Avec l’Institut Curie, donnez toute sa force à votre impôt</p>
		
		<a href="#besoin" class="anchor btn--go-down animate animate--from-top animate--delay-2200">
			<svg class="icon white arrow"><use xlink:href="#icon-arrow-down"></use></svg>
		</a>
	</div>

</section>
