<section class="container fluid bg-white">
  
  <div class="box narrow">
    <h2 class="secondary text-center">Vous avez des questions sur vos dons<br>et vos réductions d’impôt ?</h2>
    <div class="box-cols centered">
      <div class="col">
        <img src="images/ElsaOliveira.jpg" alt="ElsaOliveira" class="elsa" />
      </div>
      <div class="col">
        <p class="semi">Elsa Oliveira se tient à votre disposition pour vous donner toutes les informations nécessaires.</p>
        <p class="semi">N’hésitez pas à la contacter <a href="tel:+33156245502">01 56 24 55 02</a></p>
        </div>
      </div>
    </div>
    
  </section>
   
  <section class="container fluid bg-grey">
    <div class="box narrow text-center">
      <img src="images/ifi-2020.png" alt="IFI 2020" class="ico-ifi" />
      <br>
      <p class="semi">Pour tout savoir sur vos avantages fiscaux, nos actions ou encore faire un don IFI par chèque : téléchargez nos
      documents.</p>
      <div class="box-cols">
        <div class="col">
          <a href="" target="_blank" class="link-icon">
            <img src="images/ico-guide.png" class="icon animate animate animate--scale animate--delay-100" alt="" />
            <p class="semi icon animate animate animate--scale animate--delay-200">Je consulte<br>le guide fiscal</p>
          </a>
        </div>
        <div class="col">
          <a href="" target="_blank" class="link-icon">
            <img src="images/ico-bulletin.png" class="icon animate animate animate--scale animate--delay-400" alt="" />
            <p class="semi icon animate animate animate--scale animate--delay-500">Je télécharge<br>le bulletin de soutien</p>
          </a>
        </div>
        <div class="col">
          <a href="" target="_blank" class="link-icon">
            <img src="images/ico-rapport.png" class="icon animate animate animate--scale animate--delay-700" alt="" />
            <p class="semi icon animate animate animate--scale animate--delay-800">Je consulte<br>le rapport annnuel</p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="container fluid no-padding">
    <img src="images/hero-smile.jpg" alt="Institut Curie" />
  </section>