<section class="container no-padding bg-grey" id="actions">
	<!-- action #1-->
	
		<div class="card orange active" card-id="1">
			<div class="head">
				<h3>Radiothérapie : améliorer<br>la qualité de vie des patients !</h3>
				<img src="images/ico-radio.png" class="icon" />
			</div>
			<div class="img">
				<img src="images/hero-projet-1.jpg" alt="Radiothérapie : améliorer la qualité de vie des patients "/>
			</div>
		</div>
		<div class="card grey" card-id="2">
			<div class="head">
				<h3>Une caméra grand angle<br>pour traiter le rétinoblastome</h3>
				<img src="images/ico-camera.png" class="icon" />
			</div>
			<div class="img">
				<img src="images/hero-projet-2.jpg" alt="Une caméra grand angle pour traiter le rétinoblastome" />
			</div>
		</div>
		<div class="card blue" card-id="3">
			<div class="head">
				<h3>La data pour éviter<br>les récidives</h3>
				<img src="images/ico-data.png" class="icon" />
			</div>
			<div class="img">
				<img src="images/hero-projet-3.jpg" alt="La data pour éviter les récidives" />
			</div>
		</div>

	<!-- DESCs -->	
		<div class="desc active" desc-id="1">
			<div class="head">
				<div class="badge orange">
					<div class="circle"></div>
					<div class="text">COÛT<br>ANNUEL<br>DU PROJET<br><span class="bg-orange">250 000€</span></div>
				</div>
				<img src="images/100-pct-finance.png" alt="100% financés" />
			</div>
			<div class="infos">
				<div class="text">
					<p>Découverte par Marie Curie, la radiothérapie est l’un des piliers de la prise en charge des cancers. Mais elle doit être améliorée notamment pour limiter ses effets secondaires sur certains organes. Pour relever ce défi, le projet de Youlia Kirova, Oncologue radiothérapeute à l’Institut Curie, consiste à réduire les doses utilisées sur les organes les plus sensibles et donc, les séquelles possibles. Ce projet s’inscrit dans le cadre d’un temps médical protégé, c’est-à-dire qu’il permet à des médecins de participer aux recherches en parallèle de leur activité clinique. Grâce aux dons, d’autres médecins les remplaceront auprès de leurs patients.</p>
				</div>
				<div class="testimony">
					<img src="images/projet-dr-Youlia-Kirova.jpg" alt="dr Youlia Kirova" />
					<p class="quote">« Hier, nous étions principalement préoccupés par la guérison des patients. Avec l’amélioration du pronostic des
					cancers, nous devons désormais prendre en compte les séquelles possibles à long terme des traitements pour améliorer
					encore leur qualité de vie. »<br><br><span class="author">Youlia Kirova</span></p>
				</div>
			</div>
		</div>
	<!-- action #2-->
		
		<div class="desc" desc-id="2">
			<div class="head">
				<div class="badge ">
					<div class="circle"></div>
					<div class="text">COÛT<br>DE LA<br>CAMÉRA<br><span class="bg-grey-dark">93 600€</span></div>
				</div>
			</div>
			<div class="infos">
				<div class="text">
					<p>Le rétinoblastome – qui fait partie des tumeurs les plus courantes chez l’enfant – se soigne bien s’il est pris en
					charge à temps. Pour le diagnostiquer, le traiter et le surveiller, il est essentiel d’imager le fond de l’œil des
					jeunes patients. L’Institut Curie, centre de référence sur les tumeurs pédiatriques, veut donc compléter son parc
					d’équipements en imagerie de pointe. La caméra numérique grand angle ultra précise qu’il souhaite acquérir sera capable
					de détecter de toutes petites tumeurs même sur des bébés dès les premiers jours de leur vie.</p>
				</div>
				<div class="numbers">
					<img src="images/hero-deco-2.png" alt="" />
				</div>
			</div>
		</div>
	<!-- action #3-->
 		
		<div class="desc" desc-id="3">
			<div class="head">
				<div class="badge">
					<div class="circle"></div>
					<div class="text">COÛT<br>ANNUEL<br>DE L'ÉQUIPE<br><span class="bg-blue">520 000€</span></div>
				</div>
			</div>
			<div class="infos">
				<div class="text">
					<p>Florence Cavalli, jeune chercheuse, vient de rejoindre l’Institut Curie pour former une nouvelle équipe. Avec 3 autres
					chercheurs, elle étudie les tumeurs du cerveau qui récidivent en analysant leurs données de séquençage à cellule unique
					(une technique récente qui permet d’identifier et donc d’étudier chacune des cellules d’une tumeurs). Son objectif :
					comprendre pourquoi certaines populations de cellules répondent à un traitement et pas d’autres.</p>
				</div>
				<div class="testimony">
					<img src="images/projet-florence-cavalli.jpg" alt="Florence Cavalli" />
					<p class="quote">« J’ai voulu rejoindre l’institut Curie pour la diversité des travaux de recherches et la qualité de la recherche notamment sur les plateformes de séquençage. Le lien fort avec l’hôpital et ces cliniciens est aussi un atout »<br><br><span class="author">Florence Cavalli</span></p>
				</div>
			</div>
		</div>
</section>

<section class="container fluid bg-grey">
	<div class="box narrow text-center">
		<p class="medium bold orange">JE SOUTIENS INSTITUT CURIE !<br>Mon don financera des projets comme celui-ci.</p>
		<svg class="icon primary arrow">
			<use xlink:href="#icon-arrow-down"></use>
		</svg> 
		<div class="box-cols text-center">
			<div class="col">
				<a href="" target="_blank" class="button solid primary">JE FAIS UN DON IFI</a>
			</div>
			<div class="col">
				<a href="" target="_blank" class="button solid secondary">JE FAIS UN DON IR</a>
			</div>
		</div>
	</div>
</section>
