<section class="container fluid bg-white" id="besoin">
	 
	<div class="box narrow text-center">
		<p class="semmi">Amélioration des traitements phares du cancer, nouveaux équipements de pointe, utilisation des data pour lutter contre les récidives… En soutenant l’Institut Curie, vous financez des projets à la force d’innovation hors du commun.</p>
		<p class="bold orange">Merci de donner toute sa puissance à la recherche sur le cancer !</p>
		<a href="" class="button solid primary animate animate--opacity animate--delay-400">Je fais un don</a>
	</div>

</section>
