

<div class="popins">
    <!-- popin : calculette -->
    <div class="popin" popin-name="calculette">
        <a class="button--close-popin">
            <svg class="icon close">
                <use xlink:href="#icon-arrow-close"></use>
            </svg>
        </a>
        <div class="head text-center">
            <img src="images/ico-calculette.png" class="icon" />
        </div>
        <div class="content">
            <!-- CALCUL IFI --->
            <div class="col-calcul" id="ifi">
                <div class="col-left col-head primary" calcul-context="ifi">
                    <h3>Je calcule<br>ma déduction IFI</h3>
                </div>
                <div class="calcul calcul--ifi primary">
                    <svg class="icon primary">
                        <use xlink:href="#icon-arrow-down"></use>
                    </svg>
                    <fieldset class="primary">
                        <label>Montant de votre IFI</label>
                        <input type="text" id="ifi-estime" class="calcul--field" data-context="ifi" />
                    </fieldset>
                    <fieldset>
                        <label>Montant de votre don pour réduire votre IFI au maximum</label>
                        <input type="text" id="ifi-give-max" disabled/>
                    </fieldset>
                    <fieldset class="primary">
                        <label>Montant du don que vous souhaitez effectuer</label>
                        <input type="text" id="ifi-give" value="0" class="calcul--field" data-context="ifi" />
                    </fieldset>
                    <fieldset>
                        <label>Estimation de votre IFI après déduction de 75% de votre don</label>
                        <input type="text" id="ifi-estime-reduced" disabled />
                    </fieldset>
                    <a href="#" target="_blank" id="my-give-ifi" url-give="https://aider.curie.fr/b?cid=80&amount=">Je fais un don ifi<br><span></span></a>
                </div>
            </div>
            <!-- end calcul --->
            
            <!-- CALCUL IR --->
            <div class="col-calcul" id="ir">
                <div class="col-right col-head secondary" calcul-context="ir">
                    <h3>Je calcule<br>ma déduction IR</h3>
                </div>
                <div class="calcul calcul--ir secondary">
                    <svg class="icon secondary">
                        <use xlink:href="#icon-arrow-down"></use>
                    </svg>
                    <fieldset class="secondary">
                        <label>Montant du don que vous souhaitez effectuer</label>
                        <input type="text" id="ir-give" class="calcul--field" data-context="ir" />
                    </fieldset>
                    <fieldset>
                        <label>Montant déductible de votre Impôt sur le Revenu</label>
                        <input type="text" id="ir-deduc" disabled />
                    </fieldset>
                    <fieldset>
                        <label>Coût réel de votre don</label>
                        <input type="text" id="ir-give-cost" disabled />
                    </fieldset>
                    <a href="#" target="_blank" id="my-give-ir" url-give="https://aider.curie.fr/b?cid=2&amount=">Je fais un don IR<br><span></span></a>
                </div>
            </div>
            <!-- end calcul --->
        </div>
    </div>
    <!-- popin : calendrier -->
    <div class="popin" popin-name="calendrier">
        <a class="button--close-popin">
            <svg class="icon close">
                <use xlink:href="#icon-arrow-close"></use>
            </svg>
        </a>
        <div class="head text-center">
            <img src="images/ico-calendrier.png" class="icon" />
        </div>
        <div class="content contrain">
            <div class="contrain">
                <div class="date">14<br>mai</div>
                <p>Date limite de déclaration par voie postale</p>
            </div>
            <div class="contrain">
                <div class="date">19<br>mai</div>
                <p>Date limite de déclaration par internet</p>
                <p class="italic">Départements<br>01 à 19</p>
            </div>
            <div class="contrain">
                <div class="date">26<br>mai</div>
                <p>Date limite de déclaration par internet</p>
                <p class="italic">Départements<br>20 à 49</p>
            </div>
            <div class="contrain">
                <div class="date">2<br>juin</div>
                <p>Date limite de déclaration par internet</p>
                <p class="italic">Départements<br>50 à 976</p>
            </div>
        </div>
    </div>
    <!-- popin : credits -->
    <div class="popin" popin-name="credits">
        <a class="button--close-popin">
            <svg class="icon close">
                <use xlink:href="#icon-arrow-close"></use>
            </svg>
        </a>
        <div class="head text-center">
            <h3>Crédits</h3>
        </div>
        <div class="content contrain">
            <div>
                <h4>Réalisation</h4>
                <p><a href="https://www.afinitas.fr" target="_blank">Adfinitas</a> & <a href="https://www.vuxe.fr" target="_blank">Vuxe</a></p>
            </div>
            <div>
                <h4>Crédits photos</h4>
                <p>© Uriel Chantraine / Institut Curie<br>
                © Eric Bouvet / Institut Curie<br>
                © Pedro Lombardi / Institut Curie</p>
            </div>
        </div>
    </div>
</div>
<script src="js/app.js"></script>
</body>
</html>
