<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="theme-color" content="#fff" />
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<link rel="manifest" href="/manifest.json">

	<title>L'innovation : notre puissance face au cancer – Institut Curie</title>
	<meta name="description" content="Réduisez votre IFI (Impot sur la Fortune Immobilière) ou impôt sur le revenu, en faisant un don à l'Institut Curie. Votre don aide à accélérer la recherche contre le cancer." />
	<meta property="og:title" content="L'innovation : notre puissance face au cancer – Institut Curie" />
	<meta property="og:description" content="Réduisez votre IFI (Impot sur la Fortune Immobilière) ou impôt sur le revenu, en faisant un don à l'Institut Curie. Votre don aide à accélérer la recherche contre le cancer." />
	<meta property="og:url" content="https://ifi.curie.fr" />
	<meta property="og:image" content="https://ifi.curie.fr/images/sharing.jpg" />
	
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
		w[l] = w[l] || []; w[l].push({
			'gtm.start':
				new Date().getTime(), event: 'gtm.js'
		}); var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-PXWM2PD');</script>
	<!-- End Google Tag Manager -->
</head>
<body >
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXWM2PD" height="0" width="0"
		style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	<!-- partial "sprites.svg" -->

	