
<section class="container fluid footer animate animate--from-bottom animate--delay-200">
	
	<div class="container box foo">
		<div>
			<a href="https://curie.fr" target="_blank">
				<svg class="icon logo">
					<use xlink:href="#logo-ic"></use>
				</svg>
			</a>
		</div>
		<ul>
			<li>
				<a href="https://curie.fr/page/mentions-legales" target="_blank">MENTIONS LÉGALES</a>
			</li>
			<li>
				<a href="#" class="button-popin" popin-name="credits">CRÉDITS</a>
			</li>
			<li>
				<a href="https://curie.fr/webform/nous-contacter" target="_blank">CONTACT</a>
			</li>
		</ul>
		<ul class="social">
			<li>
				<a href="https://www.linkedin.com/company/institutcurie/" target="_blank">
					<svg class="icon small white">
						<use xlink:href="#ico-linkedin"></use>
					</svg>
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/institut_curie/" target="_blank">
					<svg class="icon small white">
						<use xlink:href="#ico-twitter"></use>
					</svg>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/InstitutCurie/" target="_blank">
					<svg class="icon small white">
						<use xlink:href="#ico-facebook"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>

	<div class="container text-center">
		<p>© 2020 Institut Curie<br>L’Institut Curie est habilité à recevoir des legs et donations. La fondation, reconnue d’utilité publique depuis 1921, enregistrée en préfecture dudépartement de la Seine le 27 mai 1921, dont le siège social est : 26 rue d’Ulm 75248 Paris
		• Numéro SIRET : 784 257 164 00011 • Contact du service donateurs : 01.56.24.55.66 ouyves.congal@curie.fr</p>
	</div>

</section>
