<header role="banner" class="">
	<div class="container">
		<div class="box--logos">
			<a href="https://curie.fr" target="_blank">
				<svg class="icon logo"><use xlink:href="#logo-ic"></use></svg>
			</a>
		</div>
		<ul class="anchors" role="navigation">
			<li>
				<a href="#" class="button-popin" popin-name="calculette" calcul-context="ifi">
					<img src="images/ico-calculette.png" class="icon" alt="Calcul déduction" />
					Je calcule<br>ma déduction
				</a>
			</li>
			<li>
				<a href="#" class="button-popin" popin-name="calendrier">
					<img src="images/ico-calendrier.png" class="icon" alt="Calendrier fiscal" />
					Calendrier<br>fiscal
				</a>
			</li>
		</ul>
		<div class="box--don">
			<a href="" target="_blank" class="button primary">Je fais un don IFI</a>
			<a href="" target="_blank" class="button secondary">Je fais un don IR</a>
		</div>
	</div>
</header>
