/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased; /* For Chrome and Safari */
	-moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
}

@font-face {
	font-family: 'Raleway';
	src: url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
}

@font-face {
	font-family: 'Lato';
	src: url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
}
