
/* **************************************************************
 RESPONSIVE SMALL
************************************************************** */
@include media-breakpoint-only(md) {
  @media(orientation:portrait) {
    
  }
}
@include media-breakpoint-down(sm) {

/* **************************************************************
 GENERAL
************************************************************** */
  html {
    font-size: 12px !important;
  }
  h2 { font-size: 1.3rem !important; line-height: 1.4rem;}

  header {
    // svg { margin: 0; }
    // .box--don { width: 150px; }
    .button { margin: 0 0 0 5px !important; padding: 5px 5px;}
    .container { padding:  0;}
  }

  .hero {
    background-image: unset !important;
    .searchers {
      display: flex;
      height: 60vh;
      & > * {
        &:nth-child(3) img { object-position: left;}
      }
    }
    .container {
      // position: relative; top: unset; bottom:unset;
      height: 40vh;
      h1 { font-size: 2.5rem; line-height: 2.5rem;}
      p { font-size: 1.5rem;}
    }
  }
 
  .hero .btn--go-down { bottom: 20px; }

  .box-cols {
    flex-direction: column;
    .col { 
      flex-grow: unset; 
      flex-basis: unset;
      margin-bottom: 20px;
      .button {
        // margin-bottom: 20px;
      }
    }
  }
  .box {
    &.narrow {
      text-align: center;
    }
    &.foo {
      flex-direction: column;
      & > * {
        margin-bottom: 20px;
      }
    }
  }

  #actions {
    .card {
      width: 100%;
      &[card-id="1"] { order:1; }
      &[card-id="2"] { order:3; }
      &[card-id="3"] { order:5; }
      .img {
        height: 200px;
        img {
          height:100%; width: 100%;
          object-fit:cover;
          object-position: center;
        }
      }
    }
    .desc {
      &[desc-id="1"] { order:2; }
      &[desc-id="2"] { order:4; }
      &[desc-id="3"] { order:6; }
      
      flex-wrap: wrap;
      flex-direction: column;
      .infos {
        flex-wrap: wrap;
        flex-direction: column;
        & > * { width: 100% !important;}
        .text {
          padding: 10px 0;
        }
        .testimony {
          flex-wrap: wrap;
          flex-direction: column;
          & > * { width: 100% !important;}
          img { margin: 0 auto 20px auto;}
        }
        .numbers img {
          max-width: 100%;
        }
      }
    }
  }

  .popin {
    padding: 20px 0px !important;
    width: 100vw;
    .content {
      margin-top: 10px !important;
      flex-direction: column;
      width: 100vw !important;
      & > * { 
        margin-bottom: 10px;
        width: 100% !important;
        max-width: 100% !important;
      }
      .col-head {
        width:100%; 
      }
    }
  }

  .footer .foo-credits .container { margin: 0;}
  .footer .foo-main a:nth-child(2) { float: left; }

}
